body {
  background-color: var(--light-grayish-cyan);
  display: grid;
  justify-content: center;
}

.main-logo{
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: var(--white);
  width: 700px;
  padding: 1.3rem;
  border-radius: 1rem;
}
