@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  /* ### Primary */

  --strong-cyan: hsl(172, 67%, 45%);

  /* ### Neutral */

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  text-transform: capitalize;
}

input {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  padding: 0.2rem 0.5rem;
  border: none;
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  background-repeat: no-repeat;
  background-size: 0.75rem;
  background-position: left;
  background-position-x: 0.75rem;
  max-width: 300px;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: 2px solid var(--strong-cyan);
}

button {
  cursor: pointer;
}
