.tip {
  max-width: 300px;
}

.subHeading {
  color: var(--dark-grayish-cyan);
  font-size: 12px;
}

.billInput {
  background-image: url(../../../public/images/icon-dollar.svg);
  margin-bottom: 1.5rem;
}

.button-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
  /* width: 300px; */
}

.button-group button {
  border: none;
  outline: none;
  background-color: var(--very-dark-cyan);
  border-radius: 0.25rem;
  color: var(--white);
  padding: 0.2rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}

.button-group button:hover {
  background-color: var(--strong-cyan);
}

.button-group input {
  position: relative;
  font-size: 1.2rem;
  margin: 0;
  width: 100%;
  padding: 0.2rem 0.5rem;
}

.numberOfPeople {
  background-image: url(../../../public/images/icon-person.svg);
}
